<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <!--<link href="/public/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">-->
    <!--<link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>
<body>
<div class="container">
<h1>衣搭搭YDD
    <small>Clothes Collocation</small>
    <span><a href="/register" class="btn btn-sm btn-primary pull-right" role="button">登录/注册</a></span>
</h1>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header active">
            <a class="navbar-brand glyphicon glyphicon-home" href="/">YDD首页</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/hot"><span class="glyphicon glyphicon-certificate">热门搭配</span></a></li>
                <li><a href="/manage"><span class="glyphicon glyphicon-adjust">管理衣柜</span></a></li>
                <li><a href="/my_chest"><span class="glyphicon glyphicon-eye-open">我的衣柜</span></a></li>
                <li><a href="/register"><span class="glyphicon glyphicon-user">注册/登陆</span></a></li>
            </ul>
        </div>
    </div>
</div>
